* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --hedding: 50px;
  --para: 15px;
  --border:rgb(70, 130, 180);
}

::selection {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Poppins;
  color: white;
  background: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%);

  /* ========================================================== */

  /* background-color: black;
  background: rgb(143, 28, 28);
  background: radial-gradient(
    circle,
    rgba(143, 28, 28, 1) 0%,
    rgba(153, 0, 0, 1) 13%,
    rgba(56, 0, 0, 1) 45%,
    rgba(0, 0, 0, 1) 59%,
    rgba(0, 0, 0, 1) 100%,
    rgba(113, 0, 108, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  ); */

  /* ======================================================== */
  /* background: rgb(2, 0, 36);
  background: linear-gradient(90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 0%,
      rgba(36, 42, 163, 1) 6%,
      rgba(53, 55, 172, 1) 10%,
      rgba(154, 130, 223, 1) 54%,
      rgba(209, 172, 251, 1) 100%); */

  /* ============================================================ */

  /* background: rgb(205, 3, 231);
  background: radial-gradient(
    circle,
    rgba(205, 3, 231, 1) 0%,
    rgba(144, 0, 153, 1) 13%,
    rgba(0, 0, 0, 1) 45%,
    rgba(0, 0, 0, 1) 59%,
    rgba(0, 0, 0, 1) 100%,
    rgba(113, 0, 108, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  ); */

}
#main{
  
  background: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%);
}
/* Hide the scrollbar */
::-webkit-scrollbar {
  width: 0;
}

/*======================================================================== */
/* ----------------------------Code For Nav Bar--------------------------- */
/*======================================================================== */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5vw;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0.356);
  background-color: rgb(255, 255, 255);
}

.logo a {
  font-size: 1.2vw;
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 0, 0);

  img{
    height: 35px;
    width: 100px;
  }
}

.nav-links {
  list-style: none;
  display: flex;
  /* border: 1px solid whitesmoke; */
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 0.9vw;
  text-transform: uppercase;
}

.nav-links a:hover {
  color: var(--border);
}

.shoping_logo {
  height: 40px;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--border);
  color: white;
  width: fit-content;
  border-radius: 5px;
  text-transform: uppercase;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  width: 30px;
  height: 22px;
  justify-content: space-between;
}

.hamburger .bar {
  height: 3px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  transition: 0.4s;
}

/* ================================================ */
/*----------------- Hero Section -------------------*/
/* ================================================ */
.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(85px);
  overflow: hidden;
}

.slider-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
  transition: 0.5s;
}

.slide {
  min-width: 100%;
  height: 100%;
  display: flex;

  .slide-child {
    height: 100%;
    width: 50%;
  }

  .slide-child1 {
    padding: 150px;

    h1 {
      font-size: 60px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    p {
      font-size: var(--para);
    }
    button {
      background: none;
      padding: 8px 13px;
      font-size: var(--para);
      border: 1px solid white;
      color: white;
      margin: 20px 0;
    }

    .counter-parent {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .counter-child {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
  }
  .slide-child2 {
    /* padding: 25%; */

    img {
      height: 100%;
      width: 100%;
    }
  }
}

/* Control Dots */
.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.dot.active {
  background-color: rgba(255, 255, 255, 1);
}

/* ===================================================================== */
/*--------------------------- Who we are Section ------------------------*/
/* ===================================================================== */


.who-we-are{
  height: 70vh;
  width: 100%;
  position: relative; 
  h1{
    color: rgb(20, 30, 48);
    font-size: 50px;
  }
  p{
    color: rgb(20, 30, 48);
  }
  .wwa-content-container{
    height: 20%;
    /* border: 1px solid red; */
    width: 100%;
    position: absolute;
    top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 120px;
    text-align: center;
  }

  img{
    height: 100%;
    width: 100%;
  }

}




/* ===================================================================== */
/*--------------------------- Industries Section ------------------------*/
/* ===================================================================== */

.industries {
  width: 100%;

  .ind-child1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      margin-top: 30px;
      font-size: var(--hedding);
      font-weight: 100;
    }

    p {
      font-size: var(--para);
      width: 60%;
      margin: 10px;
      text-align: center;
    }
  }

  .ind-child2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .ind-card {
      /* width: 500px; */
      width: 25%;
      min-width: 350px;

      height: 320px;
      background-color: rgba(0, 0, 0, 0.689);
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      padding: 0px;
      border-radius: 10px;
      position: relative;
      transition: 1s;
      overflow: hidden;

      .ind-card-img {
        width: 100%;
        height: 50%;
        /* position: absolute;
                top: 0; */
      }

      .ind-card-content {
        padding: 20px;

        h1 {
          margin: 15px 0;
        }

        p {
          line-height: 1.4;
          font-size: var(--para);
        }
      }

      .line {
        width: 490px;
        margin: 0;
        height: 3px;
        background-color: var(--border);
        opacity: 0;
        position: absolute;
        bottom: 0px;
        right: 5px;
        transition: 0.51s;
      }
    }

    #ind-card-1 .ind-card-img {
      background: url("./assets/Agriculture1.jpg");
      border-radius: 10px 10px 0 0;
      background-size: cover;
    }

    #ind-card-2 .ind-card-img {
      background: url("./assets/Manufacturing1.jpg");
      border-radius: 10px 10px 0 0;
      background-size: cover;
    }

    #ind-card-3 .ind-card-img {
      background: url("./assets/Automobile1.jpg");
      border-radius: 10px 10px 0 0;
      background-size: cover;
    }

    #ind-card-4 .ind-card-img {
      background: url("./assets/Education1.png");
      border-radius: 10px 10px 0 0;
      background-size: cover;
    }

    #ind-card-5 .ind-card-img {
      background: url("./assets/Pharmaceuticels1.png");
      border-radius: 10px 10px 0 0;
      background-size: cover;
    }

    #ind-card-6 .ind-card-img {
      background: url("./assets/Aviation1.png");
      border-radius: 10px 10px 0 0;
      background-size: cover;
    }

    #ind-card-7 .ind-card-img {
      background: url("./assets/Oil\ &\ Gas.png");
      border-radius: 10px 10px 0 0;
      background-size: cover;
    }

    #ind-card-8 .ind-card-img {
      background: url("./assets/Real-Estate1.jpg");
      border-radius: 10px 10px 0 0;
      background-size: cover;
    }

    #ind-card-9 .ind-card-img {
      background: url("./assets/Defence1.jpg");
      border-radius: 10px 10px 0 0;
      background-size: cover;
    }
  }
}

.ind-card:hover {
  /* scale: 1.1; */

  .ind-card-content .line {
    opacity: 1;
    border-radius: 0 0 20px 20px;
  }
}

/* ===================================================================== */
/*--------------------------- Our Solutions -----------------------------*/
/* ===================================================================== */

.OurSolutions {
  width: 100%;

  .ind-child1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      margin-top: 30px;
      font-size: var(--hedding);
      font-weight: 100;
    }

    p {
      font-size: var(--para);
      width: 90%;
      margin: 10px;
      text-align: center;
    }
  }

  .ind-child12 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .ind-card {
      width: 40%;
      min-width: 350px;
      height: 320px;
      background-color: rgba(0, 0, 0, 0.689);
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0px;
      border-radius: 10px;
      position: relative;
      transition: 1s;
      overflow: hidden;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

      .ind-card-img {
        width: 100%;
        height: 50%;
      }

      .ind-card-content {
        padding: 20px;

        h1 {
          margin: 15px 0;
        }

        p {
          line-height: 1.4;
          font-size: var(--para);
        }
      }

      .line2 {
        width: 690px;
        margin: 0;
        height: 3px;
        background-color: var(--border);
        opacity: 0;
        position: absolute;
        bottom: 0px;
        right: 5px;
        transition: 0.51s;
      }
    }

    #ind-card-1 .ind-card-img {
      background: url("./assets/Traning-Solutions.jpg");
      background-size: cover;
      border-radius: 10px 10px 0 0;
      position: relative;
      bottom: 5px;
    }

    #ind-card-2 .ind-card-img {
      background: url("./assets/Product-Solutions.png");
      border-radius: 10px 10px 0 0;
      background-size: cover;
      position: relative;
      bottom: 5px;
    }

    #ind-card-3 .ind-card-img {
      background: url("./assets/AR-VR-Labs.jpg");
      border-radius: 10px 10px 0 0;
      background-size: cover;
      position: relative;
      bottom: 5px;
    }

    #ind-card-4 .ind-card-img {
      background: url("./assets/Remote-Assistance.jpg");
      border-radius: 10px 10px 0 0;
      background-size: cover;
      position: relative;
      bottom: 5px;
    }
  }
}

.ind-card:hover {
  /* scale: 1.1; */

  .ind-card-content .line2 {
    opacity: 1;
    border-radius: 0 0 20px 20px;
  }
}

/* ===================================================================== */
/*------------------------Virtual Reality Section------------------------*/
/* ===================================================================== */

.virtual-reality {
  padding: 100px 100px 0 100px;

  .virtual-reality-child-1 {
    width: 100%;
    padding: 0 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .virtual-reality-child-1-left {
      width: 50%;
      height: fit-content;

      h1 {
        font-size: var(--hedding);
        margin: 10px 0;
        width: fit-content;
        border-bottom: 2px solid var(--border);
      }

      p {
        font-size: var(--para);
        margin: 10px 0;
        margin-right: 20px;
        line-height: 1.4;
      }
    }

    .virtual-reality-child-1-right {
      width: 50%;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: end;

      video {
        height: 300px;
        width: 500px;
      }
    }
  }

  .virtual-reality-child-2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;

    h1 {
      font-size: var(--hedding);
    }

    p {
      font-size: var(--para);
    }
  }

  .virtual-reality-child-3 {
    width: 100%;
    padding: 60px;

    button {
      height: 40px;
      width: fit-content;
      padding: 10px 25px;
      background: none;
      color: white;
      border: 1px solid white;
      border-radius: 3px;
    }
  }
}

/* ===================================================================== */
/*--------------------------- Contact Us Section ------------------------*/
/* ===================================================================== */

.contact-us {
  height: fit-content;
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.contact-us-child {
  height: 100%;
  width: fit-content;
}



.contact-us-child2 {
  /* padding-right: 120px; */
  /* border: 1px solid red; */
  margin-bottom: 20px;

  input {
    height: 50px;
    width: 19vw;
    padding-left: 30px;
    margin: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background: transparent;
    color: white;
  }

  ::placeholder {
    color: white;
  }

  select {
    height: 50px;
    width: 19vw;
    margin: 10px;
    padding-left: 30px;
    outline: none;
    border: none;
    color: white;
    border-bottom: 1px solid rgb(255, 255, 255);
    background: transparent;
  }
  select:hover {
    background: #000000;
    color: rgb(255, 255, 255);
  }
  option {
    background-color: black;
    color: rgb(255, 255, 255);
  }

  textarea {
    height: 100px;
    background-color: transparent;

    width: 39.5vw;
    margin: 10px;
    outline: none;
    padding: 20px;
    border: none;
    border-bottom: 1px solid white;
  }

  button {
    height: 50px;
    /* width: 780px; */
    width: 39.5vw;
    margin: 0 auto;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.171);
    color: white;
    text-transform: uppercase;
    border: none;
    outline: none;
  }
  .form-container {
    margin: 0 auto;
    /* border: 1px solid white; */
  }

  form {
    background-color: rgba(0, 0, 0, 0.335);
    /* width: 815px; */
    width: 44vw;
    margin-top: 40px;
    border: 1px solid rgb(30, 30, 30);
    border-radius: 15px;
    padding: 10px;
  }
}

/* ===================================================================== */
/*------------------------- Animated Section ----------------------------*/
/* ===================================================================== */
.headding-slider-container {
  width: 100vw;
  height: 100px;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
  border-top: 1px solid #353535;
  border-bottom: 1px solid #353535;
  background-color: #25252594;
}

.headding-slider {
  display: flex;
  align-items: center;
  height: 100%;
  animation: scroll 18s alternate infinite;
}

.headding-slider h1 {
  min-width: 200px;
  margin-right: 40px;
  font-size: var(--para);
  white-space: nowrap;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* ===================================================================== */
/*------------------------- Footer Section ------------------------------*/
/* ===================================================================== */

footer {
  height: fit-content;
  width: 100%;
  display: flex;
  padding-top: 70px;
  padding-bottom: 100px;
  /* background: url("./assets/footer.png"); */
  background-color: black;
  background-position: center;
  background-size: cover;

  h1 {
    font-size: var(--hedding);
    border-bottom: 1px solid var(--border);
    width: fit-content;
  }

  p {
    font-size: var(--para);
    margin-top: 10px;
  }

  a {
    font-size: 20px;
    color: white;
    text-decoration: none;
  }
}

.footer-child {
  height: 100%;
}

.footer-left {
  width: 50%;
  padding-left: 120px;
}

.footer-Right {
  width: 50%;

  h2 {
    margin-left: 50px;
    border-bottom: 1px solid var(--border);
    width: fit-content;
  }

  .nav-links-container {
    display: flex;
    width: 95%;

    .nav-link-column {
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;
      margin: 0 50px;

      a {
        font-size: 15px;
        margin: 10px 0;
      }
    }
  }

  .footer-headding {
    font-weight: bolder;
    color: white;
    border-bottom: 1px solid var(--border);
    padding-bottom: 5px;
  }
}

/* ===================================================================== */
/*----------------------- .knowledge-hub Section ------------------------*/
/* ===================================================================== */

.knowledge-hub {
  height: fit-content;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.knowledge-hub-child {
  height: 100%;
  width: 50%;
}

.knowledge-hub-child1 {
  padding-left: 120px;
  /* padding-top: 200px; */

  h1 {
    font-size: var(--hedding);
    margin-bottom: 10px;
    width: fit-content;
    border-bottom: 2px solid var(--border);
  }

  p {
    font-size: var(--para);
    width: 100%;
  }
}

.knowledge-hub-child2 {
  img {
    height: 100%;
    width: 100%;
  }
}

.rotated-circle {
  height: 60vw;
  width: 60vw;
  animation: rotate 13s infinite linear;
  position: absolute;
  /* bottom: 122.5%; */
  top: -10vw;
  left: -10vw;
  /* right: 47%; */
  /* right: 15vw; */
  z-index: -99;

  img {
    height: 100%;
    width: 100%;
  }
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }

  50% {
    rotate: 180deg;
  }

  100% {
    rotate: 360deg;
  }
}

/* <!-- ===================================================== --> */
/* <!-----------------IMMERSIVE TECH Section--------------------> */
/* <!-- ===================================================== --> */

.immersive-tech {
  /* background-color: rgb(36, 36, 36); */
  height: fit-content;
  width: 100%;
  position: relative;
}

.immersive-tech-child {
  height: fit-content;
  width: 100%;
  /* border: 1px solid blueviolet; */
}

.immersive-tech-child1 {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-size: var(--hedding);
    border-bottom: 2px solid var(--border);
    width: fit-content;
    margin-bottom: 10px;
    /* font-weight: 100; */
  }

  p {
    font-size: var(--para);
  }
}

.animated-red-circle {
  height: 50vw;
  width: 50vw;
  animation: rotate 13s infinite linear;
  position: absolute;
  top: 200px;
  left: 400px;
  z-index: -999;

  img {
    height: 100%;
    width: 100%;
  }
}

.immersive-tech-child2 {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.immersive-tech-child2-childs {
  width: 50%;
  height: fit-content;
  margin-bottom: 20px;
  /* border: 1px solid salmon; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    width: 50%;
    font-size: var(--para);
    text-align: center;
  }

  img {
    height: 300px;
    width: 500px;
  }

  h1 {
    font-size: var(--hedding);
  }
}

.immersive-tech-small-hadding {
  font-weight: 500;
  color: var(--border);
  font-size: 40px;
  margin-left: 10px;
}

/* ===================================================================== */
/*--------------------------- Responsive Section ------------------------*/
/* ===================================================================== */

@media (max-width: 768px) {
  /* ==============================nav bar===============================*/
  .navbar {
    padding: 20px 20px;

    a {
      font-size: 1.2em;
    }
  }

  .nav-links {
    position: fixed;
    right: 0;
    height: 100vh;
    top: 0;
   
    a{
      color: white;
    }
    background-color: rgba(0, 0, 0, 0.144);
    backdrop-filter: blur(20px);
    border-left: 1px solid #565656;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 20px;
    justify-content: center;
    width: 50%;
    z-index: 99;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-links li {
    margin: 20px 0;
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .hamburger {
    display: flex;
    z-index: 999;
  }

  .hamburger.active .bar:nth-child(2) {
    transform: scale(0);
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  .shoping_logo {
    display: none;
  }

  /*================================hero section==============================*/
  .slider {
    height: 100vh;
  }
  
      /* ============================who we are================================== */
      
    

.who-we-are{
  height: 90vh;
  width: 100%;
  position: relative; 
  h1{
    color: rgb(20, 30, 48);
    font-size: 30px;
  }
  p{
    color: rgb(20, 30, 48);
    font-size: 15px;
    line-height: 1.2;
  }
  .wwa-content-container{
    height: 20%;
    /* border: 1px solid red; */
    width: 100%;
    position: absolute;
    top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  img{
    height: 100%;
    width: 100%;
  }

}


      /*==========================industries section==============================*/

  .industries {
    .ind-child1 {
      h1 {
        font-size: 30px;
        font-weight: 100;
        width: 100%;
        text-align: center;
      }

      p {
        font-size: 15px;
        width: 90%;
        text-align: center;
      }
    }
  }

  /*=======================Virtual Reality Section==========================*/

  .virtual-reality {
    padding: 10px;

    .virtual-reality-child-1 {
      padding: 0 10px;
      flex-direction: column;

      .virtual-reality-child-1-left {
        width: 100%;

        h1 {
          font-size: 30px;
        }

        p {
          font-size: 15px;
          margin-right: 0px;
        }
      }

      .virtual-reality-child-1-right {
        width: 100%;
        margin: 0 auto;

        video {
          height: 200px;
          width: 320px;
          margin: 0 auto;
        }
      }
    }

    .virtual-reality-child-2 {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px;
      flex-direction: column;

      h1 {
        font-size: 30px;
        margin: 0;
      }

      p { 
        font-size: 15px;
      }

      .virtual-reality-child-2-part1 {
        width: 100%;
        padding: 10px;
      }

      .virtual-reality-child-2-part2 {
        width: 100%;
        padding: 10px;
      }

      .virtual-reality-child-2-part3 {
        width: 100%;
        padding: 10px;
      }
    }

    .virtual-reality-child-3 {
      width: 100%;
      padding: 10px;
    }
  }

  /*=======================Knowledge hub Section==========================*/

  .knowledge-hub {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  }

  .knowledge-hub-child {
    height: fit-content;
    width: 100%;
  }

  .knowledge-hub-child1 {
    padding-left: 0px;
    padding-top: 0px;
    /* height: 65vh; */

    h1 {
      font-size: 30px;
    }

    p {
      font-size: 15px;
      width: 100%;
    }
  }

  .knowledge-hub-child2 {
    height: 30vh;
    width: 100%;
    img {
      position: relative;
      left: 0%;
      top: 0%;
      height: 100%;
      width: 100%;
    }
  }

  .rotated-circle {
    height: 25vh;
    width: 25vh;
    animation: rotate 3s infinite linear;
    position: relative;
    bottom: 150%;
    left: 40%;
    z-index: 5;
    border-radius: 50%;

    display: none;

    img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }
  }

  /*=======================Contact Us Section==========================*/
  .contact-us {
    height: fit-content;
    flex-direction: column;
    margin-top: 50px;
  }

  .contact-us-child {
    height: 50%;
    width: 100%;
  }

  .contact-us-child1 {
    padding-left: 20px;

    h1 {
      font-size: 30px;
    }

    p {
      font-size: 15px;
      width: 100%;
    }

    .contact-links {
      height: 100px;
      width: 300px;
      margin: 20px 0;

      display: flex;
      flex-direction: column;
    }

    .form-links {
      height: 60%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        height: 40px;
        width: 40px;
      }
    }
  }

  .contact-us-child2 {
    padding-right: 0px;

    input {
      height: 50px;
      width: 320px;
      padding-left: 30px;
      margin: 10px;
      outline: none;
      border: none;
      border-bottom: 1px solid rgb(255, 255, 255);
    }

    select {
      height: 50px;
      width: 320px;
      margin: 10px;
      padding-left: 30px;
      outline: none;
      border: none;
      border-bottom: 1px solid rgb(255, 255, 255);
    }
    

    textarea {
      height: 100px;
      width: 320px;
      margin: 10px;
      outline: none;
      padding: 20px;
      padding-left: 30px;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid white;
    }

    button {
      height: 50px;
      width: 320px;
      margin: 10px;
      background-color: rgba(255, 255, 255, 0.171);
      color: white;
      text-transform: uppercase;
      border: none;
      outline: none;
    }

    form {
      background-color: rgba(0, 0, 0, 0.335);
      width: 360px;
      margin-top: 40px;
      border: 1px solid rgb(30, 30, 30);
      border-radius: 15px;
      margin: 0 auto;
    }
  }

  /*=======================Footer Section==========================*/

  footer {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 70px;

    h1 {
      font-size: 30px;
      border-bottom: 1px solid var(--border);
      width: fit-content;
    }

    p {
      font-size: 15px;
      margin-top: 10px;
    }

    a {
      font-size: 20px;
      color: white;
      text-decoration: none;
    }
  }

  .footer-child {
    height: 100%;
  }

  .footer-left {
    width: 100%;
    padding-left: 20px;
  }

  .footer-Right {
    width: 100%;
    margin-top: 40px;

    h2 {
      margin-left: 20px;
      border-bottom: 1px solid var(--border);
      width: fit-content;
      text-align: left;
    }

    .nav-links-container {
      display: flex;
      flex-wrap: wrap;
      width: 70%;
      align-items: left;
      justify-content: left;

      .nav-link-column {
        display: flex;
        align-items: start;
        justify-content: left;
        flex-direction: column;
        margin: 0 20px;
        width: 100%;

        a {
          font-size: 15px;
          margin: 5px 0;
        }
      }
    }
  }

  /*============================immersive section==============================*/
  .immersive-tech {
    /* background-color: rgb(36, 36, 36); */
    height: fit-content;
    width: 100%;
  }

  .immersive-tech-child {
    height: fit-content;
    width: 100%;
    /* border: 1px solid blueviolet; */
  }

  .immersive-tech-child1 {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      font-size: 30px;
    }

    p {
      font-size: 15px;
      text-align: center;
    }
  }

  .immersive-tech-child2 {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .immersive-tech-child2-childs {
    width: 100%;
    height: fit-content;
    margin-bottom: 40px;
    /* border: 1px solid salmon; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
      width: 90%;
      font-size: 20px;
      text-align: center;
    }

    img {
      height: 300px;
      width: 90%;
    }

    h1 {
      font-size: 30px;
    }

    p {
      font-size: 15px;
    }
  }

  .immersive-tech-small-hadding {
    font-weight: 200;
    color: var(--border);
    font-size: 30px;
    margin-left: 10px;
  }

  .animated-red-circle {
    display: none;
  }
  .loader-container{
   img{
    height: 70px;
    width: 250px;
   }
  }

}

@media (max-width: 767px) {
  /*============================hero section==============================*/
  .slider {
    position: relative;
    width: 100%;
    height: fit-content;
    backdrop-filter: blur(85px);
    overflow: hidden;
  }

  .slider-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
    transition: 0.5s;
  }

  .slide {
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .slide-child {
      /* height: 50%; */
      width: 100%;
    }

    .slide-child1 {
      padding: 50px 20px;
      height: 60%;

      h1 {
        font-size: 35px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      p {
        font-size: var(--para);
      }
      button {
        background: none;
        padding: 8px 13px;
        font-size: var(--para);
        border: 1px solid white;
        color: white;
        margin: 20px 0;
      }

      .counter-parent {
        display: flex;
        align-items: center;
        justify-content: space-between;
       /* border: 1px solid white; */
       margin-top: 20px;

        .counter-child {
          display: flex;
          align-items: start;
          justify-content: center;
          flex-direction: column;
          /* border: 1px solid white; */
        }
      }
    }
    .slide-child2 {
      height: 40vh;
    }
  }

}

/* ===================================================================== */
/*---------------------------Popup Form  Section ------------------------*/
/* ===================================================================== */

/* Popup Button */
.popup-button {
  position: fixed;
  top: 50%;
  left: -60px;
  transform: translateY(-50%);
}

.popup-button {
  background-color: var(--border);
  transform: rotate(90deg);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  button{
    background: none;
    border: none;
    color: white;
  }
}


.popup-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: rgb(255, 0, 0); */
  backdrop-filter: blur(40px);
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: none;
  width: 90%;
  max-width: 500px;
  cursor: pointer;
  border: 1px solid rgb(64, 64, 64);
  
}

.form-content {
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: black;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
  
}

label {
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
}

input, textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background: none;
  outline: none;
  color: white;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  background-color: var(--border);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

/* Media Query for Small Screens */
@media (max-width: 600px) {
  .popup-form {
    width: 100%;
    padding: 15px;
  }

  #openPopup {
    padding: 8px 16px;
  }

  button[type="submit"] {
    padding: 8px;
  }
}


/* https://virtualizetechnologies.com/ */

/* who we are === entrXXXX */
/* know XXXXX */


.classes{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 80px;
  left: 0;

  #particles-js{
    height: 100%;
    width: 100%;
  }
}

/* ======================== */
.loader-container{
  position: absolute;
  background: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%);
  z-index: 9999;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  --size: 250px;
  --duration: 2s;
  --logo-color: grey;
  --background: linear-gradient(
    0deg,
    rgba(50, 50, 50, 0.2) 0%,
    rgba(100, 100, 100, 0.2) 100%
  );
  height: var(--size);
  aspect-ratio: 1;
  position: relative;
}

.loader .box {
  position: absolute;
  background: rgba(100, 100, 100, 0.15);
  background: var(--background);
  border-radius: 50%;
  border-top: 1px solid rgba(100, 100, 100, 1);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px;
  backdrop-filter: blur(5px);
  animation: ripple var(--duration) infinite ease-in-out;
}

.loader .box:nth-child(1) {
  inset: 40%;
  z-index: 99;
}

.loader .box:nth-child(2) {
  inset: 30%;
  z-index: 98;
  border-color: rgba(100, 100, 100, 0.8);
  animation-delay: 0.2s;
}

.loader .box:nth-child(3) {
  inset: 20%;
  z-index: 97;
  border-color: rgba(100, 100, 100, 0.6);
  animation-delay: 0.4s;
}

.loader .box:nth-child(4) {
  inset: 10%;
  z-index: 96;
  border-color: rgba(100, 100, 100, 0.4);
  animation-delay: 0.6s;
}

.loader .box:nth-child(5) {
  inset: 0%;
  z-index: 95;
  border-color: rgba(100, 100, 100, 0.2);
  animation-delay: 0.8s;
}

.loader .logo {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  padding: 30%;
}

.loader .logo svg {
  fill: var(--logo-color);
  width: 100%;
  animation: color-change var(--duration) infinite ease-in-out;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px;
  }
  50% {
    transform: scale(1.3);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 20px -0px;
  }
  100% {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px;
  }
}

@keyframes color-change {
  0% {
    fill: var(--logo-color);
  }
  50% {
    fill: white;
  }
  100% {
    fill: var(--logo-color);
  }
}
.hidden {
  display: none;
}
